apturl
bcrypt
blinker
Brlapi
certifi
cffi
chardet
click
colorama
command-not-found
cryptography
cupshelpers
dbus-next
dbus-python
defer
distro
distro-info
duplicity
fasteners
future
httplib2
idna
importlib-metadata
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
msoffcrypto-tool
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
protobuf
ptyprocess
pycairo
pycparser
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
ssh-import-id
systemd-python
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xdg
xkit
zipp